{
  "forgeVersion": "47.4.23",
  "recommendedRamMb": 6144,
  "minRamMb": 4096,
  "enforcedConfigs": [
    "config/simple-custom-early-loading.json",
    "config/simple-custom-early-loading/*"
  ],
  "clientOnlyMods": [
    "journeymap-*.jar",
    "appleskin-*.jar",
    "Controlling-*.jar",
    "Searchables-*.jar",
    "SimpleCustomEarlyLoading-*.jar"
  ],
  "serverOnlyMods": [
    "Chunky-*.jar",
    "AI-Improvements-*.jar",
    "alternate_current-*.jar",
    "radium-*.jar",
    "krypton*.jar"
  ]
}
